<?xml version="1.0" encoding="utf-8" ?>
<jobs>
  <!--定时代付-->
  <job name="InstantPayJob" type="X.Schedule.Jobs.InstantPayJob,X.Schedule">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0/10 * * * * ? </cron>
  </job>
  <!--定时代付-->
  <job name="InstantPayJob" type="X.Schedule.Jobs.InstantPayJob,X.Schedule">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0/10 * * * * ? </cron>
  </job>
</jobs>