<?xml version="1.0" encoding="utf-8" ?>
<jobs>
  <!--定时代付-->
  <job name="LocalJobForCreate" type="Lotus.Schedule.Tests.LocalJobForCreate,Lotus.Schedule.Tests">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0/10 * * * * ? </cron>
  </job>
  <!--定时代付-->
  <job name="LocalJobForUpdate" type="Lotus.Schedule.Tests.LocalJobForUpdate,Lotus.Schedule.Tests">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0/10 * * * * ? </cron>
  </job>
</jobs>